* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Fredoka", sans-serif;
}
header {
  background-color: #800080;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: 10000;
}

#marqueeContainer {
  overflow: hidden;
  display:flex;
}

#marqueeText {
  position: relative;
  white-space: nowrap;
}



nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* nav ul li{} */
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}
nav li:first-child {
  margin-right: auto;
  /* scale: 100%;
    background-color: #14274E;
    transform: rotatex(0);
    box-shadow: 0; */
  /* margin-right: 54rem; */
}
/* .ul-nav li a{
   margin-bottom: 100px;
  } */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
  position: relative;
}
.sidebar a {
  width: 100%;
  font-family: "Fredoka", sans-serif;
  font-size: medium;
}
.sidebar li a svg {
  scale: 50%;
  transform: translatey(10px);
  transform: translatex(-80px);
}
.ul-nav .hideOnMobile:hover {
  /* border: 1px solid red; */
  scale: 105%;
  background-color: #800080;
  transform: rotatex(10deg);
  box-shadow: 0px 5px 2px -1px rgba(255, 255, 255, 0.59);
  -webkit-box-shadow: 0px 5px 2px -1px rgba(255, 255, 255, 0.59);
  -moz-box-shadow: 0px 5px 2px -1px rgba(255, 255, 255, 0.59);
}
.menu-button {
  display: none;
}
.img-navbar {
  margin-bottom: 10px;
}
.img-navbar div div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ul-nav li a {
  color: white;
  font-family: "Fredoka", sans-serif;
  font-size: large;
}
.ul-nav li {
  color: white;
  margin-right: 15px;
  position: relative;
}
.button-login a {
  background-color: #3e013e;
  border-radius: 10%;
}

/* Dropdown Menu Navbars */
.dropdown_menu {
  display: none;
  animation-duration: 0.2s;
  margin-top: 1px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 35rem;
}
.ul-nav li .dropdown_menu {
  animation-name: dropdown;
  animation-timing-function: ease-in;
}
.ul-nav li:hover .dropdown_menu {
  display: block;
  position: fixed;
  left: 0;
  top: 100%;
  background-color: #920f92;
}
.ul-nav li:hover .dropdown_menu ul {
  display: block;
  margin: 10px;
}
.ul-nav li:hover .dropdown_menu ul li {
  width: 150px;
  padding: 10px;
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
.li-dropdown {
  padding: 10px;
}
/* .dropdown_menu_mobile{
  display: none;
} */

.dropdown_menu_mobile {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  width: 100%;
  transition: all 0.3s;
}
.dropdown_menu_mobile ul li a {
  color: white;
}
.dropdown_menu_mobile ul {
  display: block;
  position: absolute;
  float: right;
  /* right: 0px; */
  width: 18rem;
  /* border: 1px solid red; */
  background-color: #800080;
  /* color: white; */
}
.menu-item-has-children {
  position: relative;
  z-index: 100;
}

.menu-item-has-children:hover .dropdown_menu_mobile {
  display: block;
  animation-duration: 0.2s;
  animation-name: dropdownRight;
  animation-timing-function: ease-in;
}

.carousel-utama {
  /* margin-bottom: 50px; */
}

.card-img-top {
  width: 30px;
}

.item-visi {
  background: white;
  text-align: center;
  padding: 30px 25px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  /* margin-bottom: 30px; */
  border: 5px solid rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-visi:hover {
  background: #800080;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-visi:hover .item-visi,
.item-visi:hover span.icon {
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-visi:hover h6,
.item-visi:hover p {
  color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-visi .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: salmon;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}

.button-selengkapnya {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-selengkapnya:hover {
  background: #F6F9FE;
  color: #3e013e;
}

.button-selengkapnya:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-selengkapnya:focus {
  outline: none;
  border: 2px solid #3e013e;
}

.button-selengkapnya:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-selengkapnya:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-selengkapnya:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-selengkapnya:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-selengkapnya:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.card-beranda {
  /* background-color: red; */
  padding: 3rem;
  /* gap: 50px; */
  /* overflow-x: hidden; */
}

/* berita */
.title-berita {
  text-align: center;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.berita-page {
  background-color: #800080;
  padding-bottom: 3rem;
}

/* Guru */
.guru-page {
  padding-bottom: 10rem;
}

.title-guru {
  padding-bottom: 4rem;
}

.card-guru {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);

}

.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}

.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content .detail h2 {
  color: #444;
  font-size: 1.6em;
  font-weight: bolder;
}

.content .detail h2 span {
  font-size: 0.7em;
  color: #03a9f4;
  font-weight: bold;
}

button.slick-next.slick-arrow::before{
  background-color: #c703c7;
}
button.slick-prev.slick-arrow::before{
  background-color: #c703c7;
  transform: translateX(-20px);
}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before{
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  color: #ffffff;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

/* Galeri */
.galeri-page {
  background-color: #800080;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title-galeri {
  text-align: center;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.galeri-page .container .title{
  text-align: center;
  padding-bottom: 2rem;
  font-size: 40px;
  font-weight: bold;
  }
  .slider-for{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: auto;
  }
  .slider-for div{
    margin: auto;
    
  }
  .slider-for div img{
    border-radius: 8px;
    width: 95%;
    border: 5px solid #c703c7;
    height: 45rem;
    object-fit: cover;
  }
  
  .slider-nav{
    margin: auto;
  }
  .slider-nav div img{
    width: 25rem;
    height: 15rem;
    border: 4px solid #c703c7;
    object-fit: cover;
  }

  /* agenda */
  article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }





  /* footer */
  .all-informasi {
    display: flex;
    justify-content: center;
    background-color: #800080;
    color: #fff;
    text-align: center;
    
  }
  .all-informasi span p {
    font-weight: 300;
  }
  .footer-alamat{

  }






  /* TENTANG-SEKOLAH */
  .img-page-header .gambar-header{
    width: 100%;
    height: 260px;
    background-image: url('/assets/img/header-Image3.png');
    filter: grayscale(var(--value, 100%)); --value: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover; 
  }
  .img-page-header p{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: center;
    bottom: 160px;
    color: #fff;
    font-weight: 500;
    filter: blur(0);
  }

/* 
.carousel-caption{
width: 30%;
display: inline-block;
/* margin-bottom: 5rem; */
/* transform: translateY(-12rem); */
/* transform: translateX(10px); */
/* } */

@media (max-width: 1280px) {
  .nama-sekolah {
    font-size: 16px;
  }
  #marqueeText {
    font-size: 12px;
  }
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
    font-size: 16px;
  }
  .menu-button a svg {
    display: block;
    scale: 75%;
  }
  .sidebar {
    width: 50%;
    z-index: 10;
  }
  .card-berita {
    margin-bottom: 1rem;
  }
  button.slick-next.slick-arrow::before{
    display: none;
    overflow: hidden;
    /* transform: translateX(-20px); */
  }
  button.slick-prev.slick-arrow::before{
    display: none;
  }
  .slick-slider .slick-prev:before, .slick-slider .slick-next:before{
    display: none;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .all-informasi {
    display: flex;
    flex-direction: column;
  }
}
/* @media (max-width: 1300px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .menu-button a svg {
    display: block;
    scale: 75%;
  }
  .sidebar {
    z-index: 10;
  }
} */
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
    z-index: 10;
  }
  /* nav li:first-child{
        margin-right: 54rem;
      } */
}

@keyframes dropdown {
  0% {
    transform: translateY(-5px);
    opacity: 30%;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dropdownRight {
  0% {
    transform: translateX(-5px);
    opacity: 30%;
  }
  100% {
    transform: translateX(0);
  }
}
