@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Fredoka", sans-serif;
}
header {
  background-color: #5F8670;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: 10000;
}



#marqueeContainer {
  overflow: hidden;
  display:flex;
}

#marqueeText {
  position: relative;
  white-space: nowrap;
}



nav ul {
  width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* nav ul li{} */
nav li {
  height: 50px;
}
nav a {
  height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}



nav li:first-child {
  margin-right: auto;
    /* scale: 100%;
    background-color: #14274E;
    transform: rotatex(0);
    box-shadow: 0; */
    /* margin-right: 54rem; */
}
/* .ul-nav li a{
   margin-bottom: 100px;
  } */

.sidebar {
  position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
  width: 100%;
  position: relative;
}
.sidebar a {
  width: 100%;
  font-family: "Fredoka", sans-serif;
  font-size: medium;
}
.sidebar li a svg {
  scale: 50%;
  transform: translatey(10px);
  transform: translatex(-80px);
}
.ul-nav .hideOnMobile:hover {
   /* border: 1px solid red; */
   scale: 105%;
   background-color: #5F8670;
   transform: rotatex(10deg);
   box-shadow: 0px 5px 2px -1px rgba(255,255,255,0.59);
   -webkit-box-shadow: 0px 5px 2px -1px rgba(255,255,255,0.59);
   -moz-box-shadow: 0px 5px 2px -1px rgba(255,255,255,0.59);
}
.menu-button {
  display: none;
}
.img-navbar {
  margin-bottom: 10px;
}
.img-navbar div div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.ul-nav li a {
  color: white;
  font-family: "Fredoka", sans-serif;
  font-size: medium;
}
.ul-nav li {
  color: white;
  margin-right: 15px;
  position: relative;
}
.button-login a {
  background-color: #FF9800;
  border-radius: 10%;
}

/* Dropdown Menu Navbars */
.dropdown_menu {
  display: none;
  animation-duration: 0.2s;
  margin-top: 1px;
  height: auto;
  text-align: center;
}

.dropdown_menu ul li a:hover {
  text-decoration: underline;
}

.ul-nav li .dropdown_menu {
  animation-name: dropdown;
  animation-timing-function: ease-in;
}
.ul-nav li:hover .dropdown_menu {
  display: block;
  position: fixed;
  left: 0;
  top: 100%;
  background-color: #5F8670;
}
.ul-nav li:hover .dropdown_menu ul {
  display: block;
  margin: 10px;
}
.ul-nav li:hover .dropdown_menu ul li {
  width: 150px;
  padding: 10px;
}
.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}
.li-dropdown {
  padding: 10px;
}
.dropdown_menu-1{
  display: none;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown_menu ul li:hover .dropdown_menu-1{
  display: block;
  position: absolute;
  top: 0;
  right: 130px;
  background-color:  #5F8670;
}
/* .dropdown_menu_mobile{
  display: none;
} */

.dropdown_menu_mobile{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100; 
  width: 100%; 
  transition: all 0.3s;
  height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropdown_menu_mobile ul li a {
  color: white;
}
.dropdown_menu_mobile ul{
  display: block;
  position: absolute;
  float: right;
  width: 18rem;
  background-color: #5F8670;
}

.menu-item-has-children{
  position: relative;
  /* z-index: 100; */
}


.menu-item-has-children:hover .dropdown_menu_mobile{
  display: block;
  animation-duration: 0.2s;
  animation-name: dropdownRight;
    animation-timing-function: ease-in;
 }

.carousel-utama {
  /* margin-bottom: 50px; */
}

.card-img-top {
  width: 30px;
}

.item-visi {
  background: white;
  text-align: center;
  padding: 30px 25px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  /* margin-bottom: 30px; */
  border: 5px solid rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-visi:hover {
  background: #5F8670;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-visi:hover .item-visi,
.item-visi:hover span.icon {
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-visi:hover h6,
.item-visi:hover p {
  color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item-visi .icon {
  font-size: 40px;
  margin-bottom: 25px;
  color: #5F8670;
  width: 90px;
  height: 90px;
  line-height: 96px;
  border-radius: 50px;
}

.button-selengkapnya {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #5F8670;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-selengkapnya:hover {
  background: #F6F9FE;
  color: #5F8670;
}

.button-selengkapnya:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-selengkapnya:focus {
  outline: none;
  border: 2px solid #5F8670;
}

.button-selengkapnya:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-selengkapnya:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-selengkapnya:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-selengkapnya:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-selengkapnya:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.card-beranda {
  /* background-color: red; */
  padding: 3rem;
  /* gap: 50px; */
  /* overflow-x: hidden; */
}

/* berita */
.title-berita {
  text-align: center;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.berita-page {
  background-color: #5F8670;
  padding-bottom: 3rem;
}

/* Guru */
.guru-page {
  padding-bottom: 10rem;
}

.title-guru {
  padding-bottom: 4rem;
}

.card-guru, .card-pengurus-osis {
  position: relative;
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.img-bx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  transform: translateY(30px) scale(0.5);
  transform-origin: top;
}

.img-bx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: -10px;
}

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content .detail h2 {
  color: #444;
  font-size: 1.6em;
  font-weight: bolder;
}

.content .detail h2 span {
  font-size: 0.7em;
  color: #5F8670;
  font-weight: bold;
}

button.slick-next.slick-arrow::before{
  background-color: #FF9800;
}
button.slick-prev.slick-arrow::before{
  background-color: #FF9800;
  transform: translateX(-20px);
}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before{
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: 900;
  color: #ffffff;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

/* Galeri */
.galeri-page {
  background-color: #5F8670;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.title-galeri {
  text-align: center;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.galeri-page .container .title{
  text-align: center;
  padding-bottom: 2rem;
  font-size: 40px;
  font-weight: bold;
  }
  .slider-for{
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: auto;
  }
  .slider-for div{
    margin: auto;
    
  }
  .slider-for div img{
    border-radius: 8px;
    width: 95%;
    border: 5px solid #FF9800;
    height: 45rem;
    object-fit: cover;
  }
  
  .slider-nav{
    margin: auto;
  }
  .slider-nav div img{
    width: 25rem;
    height: 15rem;
    border: 4px solid #FF9800;
    object-fit: cover;
  }

  /* agenda */
  article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 , .card-body a>h5 {
    margin: 0 0 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.06em;
    color: #5F8670;
    transition: color 0.3s ease-out;

  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }


  

  /* PRESTASI-SEKOLAH */
  .all-main-content-card {
    gap: 5rem;
  }

  .main-content-card {
    border-radius: 50px;
    box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.18);
-webkit-box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.18);
-moz-box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.18);
  }

  .main-content-card:hover {
    box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.28);
-webkit-box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.28);
-moz-box-shadow: 1px -1px 21px 3px rgba(0,0,0,0.28);
  }

  .keterangan-card {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
  }

  .icon-calendar .icon-trophy .icon-location {
    width: 10px; /* Atau lebar yang diinginkan */
    height: auto
  }

  .date-and-trophy, .date {
    display: flex;
    align-items: center;
  }

  .location-area {
    display: flex;
    align-items: center;
  }

  .img-page-header .gambar-header{
    width: 100%;
    height: 220px;
    background-image: url('/assets/img/header-Image3.png');
    filter: grayscale(var(--value, 100%)); --value: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover; 
  }
  .img-page-header p{
    font-size: 40px;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
    position: relative;
    text-align: center;
    bottom: 140px;
    color: #fff;
    font-weight: 700;
    filter: blur(0);
    font-style: normal;
  }

  .btn-selengkapnya {
    
  }

  /* Side Content */
.side-content .title-side{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
}
.side-content .title-side span{
  color: #5F8670;
}
.side-content .side-element .img-side{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
.side-content .side-element .img-side img{
  width: 80px;
  height: 80px;
  object-fit: cover;

}
.side-content .side-element .body-side h4 a{
  text-decoration: none;
  color: black;
}
.side-content .side-element .body-side h4 a:hover{
  color: #5F8670;
}
.side-content .side-element .body-side h4{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: larger;
}
.side-content .side-element .body-side p{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.528);
}


/* TENTANG-SEKOLAH */
.title-tentang-sekolah, .title-lokasi-sekolah , .title-visi-misi , .title-kepsek {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* VISI DAN MISI */



/* Kepala Sekolah */
.sambutan-kepsek h5 {
  color: #808080;
  padding-bottom: 1rem;
}

/* data - guru */
.checkout-section {
  padding: 110px 0;
}
@media screen and (max-width: 575px) {
  .checkout-section {
    padding: 80px 0;
  }
}
.checkout-section .cheakout-title {
  color: #5F8670;
}

.checkout-field-wrap {
  padding: 40px;
  margin-bottom: 24px;
  background-color: #f8f8f8;
  border-radius: 30px;
}
.checkout-field-wrap .coupon-field {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 25px;
}
.checkout-field-wrap .coupon-field label {
  display: block;
  margin-bottom: 10px;
  color: #414141;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  vertical-align: middle;
  font-family: "Mulish", sans-serif;
}
.checkout-field-wrap .coupon-field label a {
  color: inherit;
}
.checkout-field-wrap .coupon-field .form-group {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
}
.checkout-field-wrap .coupon-field .form-group input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
  width: auto;
  height: 50px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  color: #414141;
}
.checkout-field-wrap .coupon-field .form-group input[type=submit] {
  line-height: 1;
  height: 50px;
  padding: 0 30px;
  background-color: #F24080;
}
.checkout-field-wrap .coupon-field .form-group input {
  margin: 0 15px;
}
.checkout-field-wrap .coupon-field .form-group .coupon-txt {
  margin-bottom: 15px;
}
.checkout-field-wrap .coupon-field .form-group .coupon-btn {
  margin-bottom: 15px;
}
.checkout-field-wrap .label-star {
  color: #F24080;
  text-decoration: none;
  border-bottom: none;
}
.checkout-field-wrap .form-group {
  margin-bottom: 30px;
}
.checkout-field-wrap .form-group label {
  display: block;
  margin-bottom: 15px;
  color: #414141;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  vertical-align: middle;
  font-family: "Mulish", sans-serif;
}
.checkout-field-wrap .form-group input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
  width: 100%;
  height: 50px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  color: #414141;
  padding: 16px;
}
.checkout-field-wrap .form-group select {
  border: none;
  color: #a7a7a7;
  font-size: 15px;
  background-color: #ffffff;
}
.checkout-field-wrap .form-group select option {
  color: #414141;
}
.checkout-field-wrap .form-group input[type=submit] {
  line-height: 1;
  height: 55px;
  padding: 0 30px;
}
.checkout-field-wrap .form-group ::-webkit-input-placeholder {
  /* Edge */
  color: #a7a7a7;
}
.checkout-field-wrap .form-group :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a7a7a7;
}
.checkout-field-wrap .form-group ::placeholder {
  color: #a7a7a7;
}
.checkout-field-wrap .last-form-group {
  margin-bottom: 0;
}
.checkout-field-wrap .inner-form-group {
  margin-bottom: 15px;
}
.checkout-field-wrap .inner-form-group input {
  width: 100%;
  height: 55px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  color: #414141;
  padding: 16px;
  margin-bottom: 10px;
}
.checkout-field-wrap .inner-form-group ::-webkit-input-placeholder {
  /* Edge */
  color: #a7a7a7;
}
.checkout-field-wrap .inner-form-group :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a7a7a7;
}
.checkout-field-wrap .inner-form-group ::placeholder {
  color: #a7a7a7;
}

/* Page Detail */
.page-detail .title {
  font-family: 'Fredoka',sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
}
.page-detail .sub-title .schedule{
  color: rgba(0, 0, 0, 0.525);
}
.page-detail .sub-title .view{
  color: rgba(0, 0, 0, 0.525);
}
.page-detail .image{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.page-detail .image img{
  border-radius: 5px;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.75);
}
.page-detail .description{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: rgba(0, 0, 0, 0.589);
  font-size: 17px;
}
/* Reaction */
.page-detail .reaction .like .btn-like{
  cursor: pointer;
} 
.page-detail .reaction .dislike .btn-dislike{
  cursor: pointer;
} 
.page-detail .reaction .like .btn-like:hover{
  color: #0b6ca8;
} 
.page-detail .reaction .dislike .btn-dislike:hover{
  color: #0b6ca8;
} 

/* Sosial media */
.ul-share {
  margin:0;
  padding:0;
  display:flex;
}
.ul-share li {
  list-style:none;
}
.ul-share li a {
  display:block;
  position:relative;
  width:50px;
  height:50px;
  line-height:50px;
  font-size:30px;
  text-align:center;
  text-decoration:none;
  color:#404040;
  margin: 0 30px;
  transition:.5s;
}
.ul-share li a span {
  position:absolute;
  transition: transform .5s;
}
.ul-share li a span:nth-child(1),
.ul-share li a span:nth-child(3){
  width:100%;
  height:3px;
  background:#404040;
}
.ul-share li a span:nth-child(1) {
  top:0;
  left:0;
  transform-origin: right;
}
.ul-share li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition:transform .5s;
}

.ul-share li a span:nth-child(3) {
  bottom:0;
  left:0;
  transform-origin: left;
}
.ul-share li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition:transform .5s;
}

.ul-share li a span:nth-child(2),
.ul-share li a span:nth-child(4){
  width:3px;
  height:100%;
  background:#404040;
}
.ul-share li a span:nth-child(2) {
  top:0;
  left:0;
  transform:scale(0);
  transform-origin: bottom;
}
.ul-share li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition:transform .5s;
}
.ul-share li a span:nth-child(4) {
  top:0;
  right:0;
  transform:scale(0);
  transform-origin: top;
}
.ul-share li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition:transform .5s;
}

.facebook:hover {
  color: #3b5998;
}
.facebook:hover span { 
  background: #3b5998;
}
.linkedin:hover {
  color: #0b6ca8;
}
.linkedin:hover span { 
  background: #1da1f2;
}
.whatsapp:hover {
  color: #009b2f;
}
.whatsapp:hover span { 
  background: #026c56;
}
.instagram:hover {
  color: #c32aa3;
}
.instagram:hover span { 
  background: #c32aa3;
}
.google:hover {
  color: #dd4b39;
}
.google:hover span { 
  background: #dd4b39;
}
.ul-share li a .linkedin {
  color: #1da1f2;
}
.ul-share li a:hover:nth-child(3) {
  color: #c32aa3;
}
.ul-share li a:hover:nth-child(4) {
  color: #dd4b39;
}

/* Comment */

.page-detail .comment .textarea{
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;

}
.page-detail .list-comment{
  padding-top: 4rem;
}
.page-detail .list-comment .comment-person{
  width: 50rem;
  /* height: 9rem; */
  border: 2px solid rgba(128, 128, 128, 0.363);
  border-radius: 10px;
  max-width: 100%;
}
.page-detail .list-comment .comment-person .profile .img-profile{
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #CCF3EE;
}
.page-detail .list-comment .comment-person .profile .img-profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-detail .list-comment .comment-person .profile .nama-profile p{
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.574);
  display: flex;
  align-items: center;
}
.page-detail .list-comment .comment-person .komen{
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
}

/* pagination */
.page-link {
  color: #28666e;
}

/* footer */
  .all-informasi {
    display: flex;
    justify-content: center;
    background-color: #5F8670;
    color: #fff;
    text-align: center;
    
  }
  .all-informasi span p {
    font-weight: 500;
  }

  .footer-alamat{
    
  }
  
  
  
  


  
  /* 
.carousel-caption{
  width: 30%;
  display: inline-block;
/* margin-bottom: 5rem; */
/* transform: translateY(-12rem); */
/* transform: translateX(10px); */
/* } */

@media (max-width: 1280px) {
  .nama-sekolah {
    font-size: 16px;
  }
  #marqueeText {
    font-size: 12px;
  }
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
    font-size: 16px;
  }

  .menu-button a svg {
    display: block;
    scale: 50%;
  }
  .sidebar {
    width: 50%;
    z-index: 10;
  }
  .card-berita {
    margin-bottom: 1rem;
  }
  button.slick-next.slick-arrow::before{
    display: none;
    overflow: hidden;
    /* transform: translateX(-20px); */
  }
  button.slick-prev.slick-arrow::before{
    display: none;
  }
  .slick-slider .slick-prev:before, .slick-slider .slick-next:before{
    display: none;
    overflow: hidden;
  }

  .all-main-content-card {
    padding-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  nav a {
    height: 100%;
      padding: 0 10px;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: black;
  }
  .nama-sekolah {
    font-size: 16px;
  }
  #marqueeText {
    font-size: 14px;
  }
  .menu-button {
    display: block;
    font-size: 8px;
  }
  .all-informasi {
    display: flex;
    flex-direction: column;
  }
  .desc-visi-misi h5, .desc-tentang-sekolah h5, .desc-kepsek h5 {
    font-size: 14px;
  }
  .sambutan-kepsek h5 {
  font-size: 14px;
}

}

/* @media (max-width: 1300px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .menu-button a svg {
    display: block;
    scale: 75%;
  }
  .sidebar {
    z-index: 10;
  }
} */
@media (max-width: 420px) {
  .sidebar {
    width: 100%;
    z-index: 10;
  }
  /* nav li:first-child{
        margin-right: 54rem;
      } */
}

@keyframes dropdown {
  0% {
    transform: translateY(-5px);
    opacity: 30%;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dropdownRight {
  0% {
    transform: translateX(-5px);
    opacity: 30%;
  }
  100% {
    transform: translateX(0);
  }
}
